<nav class="navbar sticky-top navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand active" routerLink="/home">Surat Tamil Sangam</a>
    <button class="navbar-toggler" (click)="navbarOpen = !navbarOpen;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 <i class="fas fa-bars"></i>
</button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link" (click)="active='home'; navbarOpen = !navbarOpen;" [ngClass]="{'active': active === 'home' || active === '', 'not-active': active !== 'home' }" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item"> -->
          <!-- <a class="nav-link" routerLink="/">Articles</a> -->
      <li class="nav-item">
        <a class="nav-link" (click)="active='about'; navbarOpen = !navbarOpen;" [ngClass]="{'active': active === 'about', 'not-active': active !== 'about' }" routerLink="/about">About</a>
          <li class="nav-item">
            <a class="nav-link" (click)="active='events'; navbarOpen = !navbarOpen;" [ngClass]="{'active': active === 'events', 'not-active': active !== 'events' }" routerLink="/events">Events</a>
            <li class="nav-item">
              <a class="nav-link" (click)="active='matrimony'; navbarOpen = !navbarOpen;" [ngClass]="{'active': active === 'matrimony', 'not-active': active !== 'matrimony' }" routerLink="/matrimony">Matrimony</a>
              <li class="nav-item">
                <a class="nav-link" (click)="active='contact'; navbarOpen = !navbarOpen;" [ngClass]="{'active': active === 'contact', 'not-active': active !== 'contact' }" routerLink="/contact">Contact</a>
                  </li>
      </ul>
    </div>
  </div>
</nav>
