.navbar {
  background: #663311 none repeat scroll 0 0 !important;
  a {
    color: #DF7500;
  }
}

.active {
  font-weight: 600 !important;
  color: #fff !important;
}

.not-active {
  color: #DF7500;
  font-weight: 400;
}
