<div class="container">
  <div class=" mt-5 mb-2 text-center">
    <h1 class="header">Let's Unite!</h1>
    <p class="mb-0">With your warm message, Give us your details to add you as members or give us suggestions, ideas too!</p>
  </div>
  <div class="row my-5">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
      <div class="wrap">
        <div class="container-fluid px-0">
          <form class="cool-b4-form">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" autofocus name="name" id="name">
                  <label for="name">Name</label>
                  <span class="input-highlight"></span>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email">
                  <label for="email">Email</label>
                  <span class="input-highlight"></span>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject">
                  <label for="subject">Subject</label>
                  <span class="input-highlight"></span>
                </div>
                <div class="form-group">
                  <select id="company" class="form-control">
                    <option>Add as Member</option>
                    <option>Need Advertisement</option>
                    <option>Others</option>
                  </select>

                  <span class="input-highlight"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control"></textarea>
                  <label for="message">Message</label>
                  <span class="input-highlight"></span>
                </div>
              </div>
            </div>
            <div class="col-md-8 mx-auto mt-3">
              <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <img src="assets/contact.svg" width="400" height="300"/>
    </div>
  </div>
  <app-thirukkural></app-thirukkural>
</div>
