<div class="container-fluid px-0">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <footer>
    <div class="container-fluid" style="background-color: #663311;">
      <div class="row mx-auto">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
          <div class="promo-box-container">
              <a routerLink="/contact">
                <span class="linkspanner"></span>
              </a>
            <p class="title"><a routerLink="/contact">Want to publish your ad? <span class="lighter">Contact our members.</span></a></p>
            <p><a class="cta-button" routerLink="/contact">Contact Us</a></p>
            <div class="right-triangle"> </div>
           </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-xl-4 d-flex align-items-center justify-content-center">
            <p class="m-2" style="color: white;">Developed by <a href="https://www.google.com/search?q=goss+gowtham" target="_blank">Goss Gowtham</a></p>
        </div>
      </div>
    </div>
  </footer>
</div>
