@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  background-color: #fbf6d5;
  overflow-x: hidden;
}

#divider::before {
  content: '';
  display: block;
  width: 50%;
  border-left: 1px solid #cc6600;
  height: 5rem;
  max-height: 6rem;
  top: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
