@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-material.min.css";
@import "~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-mixin";

body {
  background-color: #fff;
  overflow-x: hidden;
}

#divider::before {
  content: '';
  display: block;
  width: 50%;
  border-left: 1px solid #cc6600;
  height: 5rem;
  max-height: 6rem;
  top: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  margin-right: 0 !important;
}

.header {
  font-family: 'Lobster';
  color: #663300;
}


.ag-theme-material {
  @include ag-theme-material((
    background-color: white,
    font-size: 16px,
    font-family: 'IBM Plex Sans'
  ));

  --ag-header-foreground-color: white;
  --ag-header-cell-hover-background-color: #f6f6f6;
  --ag-row-hover-color: #f6f6f6;

  .ag-root-wrapper {
    border-radius: 8px;
    box-shadow: 0 7px 15px rgba(0,0,0,0.15), 0 7px 6px rgba(0,0,0,0.08);
  }

  .ag-header {
    border: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fbf6d5;
    color: dimgray;
    font-weight: 600;
    font-size: 18px;
  }

  .ag-header-cell {
    color: #663300;
    font-weight: 600;
  }

  .ag-cell {
    line-height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
  }

  .ag-paging-row-summary-panel {
    display: none;
  }
}

.btn {
  color: #cc6600;
  border-color: #cc6600;
  border-radius: 8px;
}

.btn:hover, .btn:active, .btn:visited, .btn:focus, .btn-primary {
  background-color: #cc6600 !important;
  border-color: #cc6600;
  color: #fff;
  outline: none !important;
}

