<div class="container d-flex justify-content-center">
  <div class="card bg-transparent mb-4 p-3 shadow" style="width: 70%;">
    <div class="row no-gutters d-flex justify-content-center">
        <div class="col-sm-4 d-flex justify-content-center">
            <img class="card-img" style="height: 120px; width: 120px;" src="https://firebasestorage.googleapis.com/v0/b/surattamilsangam-84683.appspot.com/o/thiruvalluvar.png?alt=media" alt="Thiruvalluvar">
        </div>
        <div class="col-sm-8 d-flex justify-content-center">
            <div class="card-body">
                <h5 class="card-title">Thirukkural #{{number}}</h5>
                <p class="card-text">{{kural?.line1}}<br/>{{kural?.line2}}</p>
            </div>
        </div>
    </div>
  </div>
</div>
